section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

button {
  text-decoration: none;
  border: none;
  padding: 12px 40px 12px 40px;
  font-size: 16px;
  background-color: rgb(32, 137, 223);
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin: 5px;
}
button:focus {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.wrap {
  flex-wrap: wrap;
}

.chicken {
  width: 500px;
  height: 650px;
  border: 5px solid black;
}

.workout {
  width: 500px;
  height: 650px;
  border: 5px solid black;
  margin: 30px;
  float: left;
}

.footer {
  margin-top: 20px;
}