section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

button, .off {
  text-decoration: none;
  border: none;
  padding: 12px 40px 12px 40px;
  font-size: 16px;
  background-color: rgb(32, 137, 223);
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin: 5px;
}
/* button:focus {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} */

.on {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  border: 3px solid black;
}

/* button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} */

.wrap {
  flex-wrap: wrap;
}

.chicken {
  width: 500px;
  height: 650px;
  border: 5px solid black;
}

.workout {
  width: 450px;
  height: 650px;
  border: 5px solid black;
  margin: 30px;
  float: left;
}

.squat {
  border: 5px solid black;
  margin: 30px;
  width: 550px;
  height: 400px;
}

.footer {
  margin-top: 30px;
}